body{
	font: 13px Arial, Helvetica, sans-serif;	
}

.thumbnail_container{
	background: #e9f2f9;
	padding: 15px;
	width: 195px;
}

.thumbnail_container .video_entry  p{
	text-align: center;	
}

.thumbnail_container .video_entry .vb-thumbnail_container{
	position: relative;
	height: 105px;
	overflow: hidden;
	border: 2px solid #bcbbc0;	
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 2px 2px 2px #999999;
     -moz-box-shadow: 2px 2px 2px #999999;
          box-shadow: 2px 2px 2px #999999;		
}

.thumbnail_container .video_entry .vb-thumbnail_container:hover{
  -webkit-box-shadow: 2px 2px 2px #666666;
     -moz-box-shadow: 2px 2px 2px #666666;
          box-shadow: 2px 2px 2px #666666;		
}

.thumbnail_container .video_entry .vb-thumbnail_container a img{  
	height: 142px;
	width: 190px;
	margin: -18px 0px 0px -4px;
}

.thumbnail_container .video_entry .vb-thumbnail_container a span{
	background: url(images/icon-video_overlay.png);
	display: block;
	height: 80px;
	width: 80px;
	position: absolute;
	top: 12px;
	left: 52px;
}


.thumbnail_container .video_entry .vb-thumbnail_container a:hover span{
	background-position: -80px 0px;
}

.video_container{
  background: #dddddd;
  color: #333333;
  padding: 10px 15px;
  height: 255px;
  margin: 25px 0px;
  width: 950px;
  position: relative;
 -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;	  
}

.video_player{
  width: 450px;
  heigth: 253px;
  float: left;
}

.video_player .loading_gif{
	margin: 100px 0px 0px 200px;
}

.videos_list_container{
  float: left;
  margin: 18px 0px 18px 25px;
  width: 465px;
  height: 210px;
  padding: 2px 0px;
  overflow: hidden;
}

.video_scroll_next,.video_scroll_back{
	position: absolute;
	z-index: 100;
	left: 710px;
	display: block;
	width: 28px;
	height: 26px;
	text-indent: -9999px;
	cursor: pointer;
}

.video_scroll_back{
	top: -10px;
	background: url(images/previous.png);
}

.video_scroll_next{
	top: 260px;
	background: url(images/next.png);
}

.video_player_thumbs .vb-thumbnail_container{
	overflow: hidden;
	height: 59px;	
	padding: 5px;
	cursor: pointer;
	border-bottom: 1px solid #000000;
}

.video_player_thumbs .vb-thumbnail_container:hover{
  -webkit-box-shadow: 0px 0px 2px #000;
     -moz-box-shadow: 0px 0px 2px #000;
          box-shadow: 0px 0px 2px #000;	
	background: #444;	
	color: #fff;		
}

.video_player_thumbs .vb-thumbnail_container img{
	float: left;
	width: 80px;
	height: 60px;
	display: block;
}

.video_player_thumbs .vb-thumbnail_container p{
	float: left;
	margin: 5px 0px 0px 10px;
	width: 350px;
	padding: 0px;
	line-height: 19px;
}

.video_player_thumbs .vb-thumbnail_container p .timestamp{
	font-size: 11px;
	margin: 0px 5px;
	padding: 2px 5px;
	background: #222;
	color: #fff;	
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;	
}

.video_player_thumbs .vb-thumbnail_container p .noleftmargin{
	margin: 5px 0px 0px 0px;	
}
